<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <p class="titleP" class="h4Iter">Identificación Oficial</p>
      <div class="expandElements">
        <p class="titleP">¿Qué documentos son válidos como identificación oficial para que pueda cargar a la app?</p>
        <p class="subtitleP">Los documentos válidos como identificación oficial son los siguientes:</p>
        <mat-list>
          <div mat-subheader><b class="titleP">Documentos</b></div>
          <div class="docContainer">

            <div>
              <div class="ine bg-img-properties"></div>
              <div class="pasaporte bg-img-properties"></div>
              <div class="cedula bg-img-properties"></div>
            </div>

            <div class="itemsFlex">
              <mat-list-item *ngFor="let folder of folders">
                <div class="subtitleP" mat-line>{{folder.name}}</div>
              </mat-list-item>
            </div>
          </div>
        </mat-list>
      </div>
    </section>
  </mat-card-title>
</mat-card>
