.expandContent {
  width: 100%;
  height: 80%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.backArrow {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 0;
}

//// ------------------------- estilos temporales --------
.main {
  margin-top: 2%;
  width: 100%;
  display: inline-block;
}

////---------------------------aseguradoras
.siniestro {
  margin: 5% 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  border-left: solid 15px #09CC8F;
  border-right: solid 15px #09CC8F;
  border-top: 0;
  border-bottom: 0;
}

.tel-info {
  font-size: 15px;
  color: #484749;
}

.tel-number {
  font-weight: bold;
  color: #484749;
}

.imgAndNameAseguradora {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.itemsFlex {
  display: inline-block;
  align-items: normal;
}

.docContainer {
  width: 100%;
  height: auto;
  max-height: 80vh;
  display: inline-flex;
  justify-content: space-evenly;
}

.subtitleP {
  font-size: 22px;
}

.h4Iter {
  visibility: visible;
}

.imgAseguradoraSiniestros {
  width: 200px;
  height: 55px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 768px) {
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 760px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .imgAseguradoraSiniestros {
    width: 180px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 600px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .imgAseguradoraSiniestros {
    width: 170px;
    height: 45px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 580px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .imgAseguradoraSiniestros {
    width: 180px;
    height: 45px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 420px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .imgAseguradoraSiniestros {
    width: 160px;
    height: 40px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 411px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .imgAseguradoraSiniestros {
    width: 150px;
    height: 40px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 380px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .imgAseguradoraSiniestros {
    width: 140px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 360px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .expandElements {
    overflow-x: auto;
  }
  .imgAseguradoraSiniestros {
    width: 130px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 320px) {
  .subtitleP {
    font-size: 14px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .imgAseguradoraSiniestros {
    width: 120px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}
