.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
}

.text1 {
  text-align: left;
}
.drawToInfo-imgsConfig {
  width: 500px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -20%;
  margin-left: 30%;
}
.imgUrl1 {
  background-image: url("~src/assets/img/invoice.svg");
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {

  .drawToInfo-imgsConfig {
    width: 650px;
    height: 423px;
    margin-top: -61%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 768px) {
  .drawToInfo-imgsConfig {
    width: 470px;
    height: 350px;
    margin-top: -50%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 760px) {
  .drawToInfo-imgsConfig {
    width: 220px;
    height: 246px;
    margin-top: -27%;
    margin-left: 36%;
  }
}

@media only screen and(max-width: 620px) {
  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
    margin-top: -27%;
    margin-left: 36%;
  }
}

@media only screen and(max-width: 580px) {
  .drawToInfo-imgsConfig {
    width: 330px;
    height: 215px;
    margin-top: -36%;
    margin-left: 12%;
  }
}

@media only screen and(max-width: 420px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -38%;
    margin-left: 20%;
  }
}

@media only screen and(max-width: 411px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -40%;
    margin-left: 20%;
  }
}

@media only screen and(max-width: 380px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
    margin-top: -15%;
    margin-left: 15%;
  }
}
@media only screen and(max-width: 375px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
    margin-top: -52%;
    margin-left: 15%;
  }
}


@media only screen and(max-width: 360px) {
  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
    margin-top: -6%;
    margin-left: 13%;
  }
}

@media only screen and(max-width: 320px) {
  .drawToInfo-imgsConfig {
    width: 170px;
    height: 150px;
    margin-top: 38%;
    margin-left: 10%;
  }
}
@media only screen and(max-width: 280px) {

  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
    margin-top: 65%;
    margin-left: 2%;
  }
}

