<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Inspección Vehicular</h4>
      <div class="expandElements">
        <div class="infoInspeccion">
          <p class="blue">¡Ayúdanos a concretar tu inspección vehicular!</p>
          <p class="blue">¿Qué es una inspección vehicular?</p>
          Es un requisito <b>imprescindible</b> para la contratación de tu seguro de auto, este proceso valida el estatus general de tu unidad con el fin de garantizar la protección del mismo durante la vigencia de la póliza y así poder brindarte un mejor servicio en caso de tener algún tipo de siniestro.
          <p class="blue">¿Cómo lo hago?</p>
          <p>
            1- Valida que hayas recibido un mensaje vía <b>SMS</b> y <b>correo electrónico</b> con la liga de inspección vehicular, en caso de no ser así, comunícate con nosotros: al
            <b><a style="color: #6E6E6E;" href="tel: 5536024275">5536024275</a>  opción 6.</b>
            <br>
            <br>
            2- Sigue los siguientes pasos:
          </p>
          <img width="370" height="300" class="gifIMGInstructions" src="../../../../assets/img/gif-image.gif" alt="IMAGEN TIPO GIF" />
          <p><b>Recuerda</b> concluir el proceso dentro de los primeros <b style="color: red">5 días naturales</b> después de haber recibido la liga de inspección vehicular, <b>evita contratiempos.</b></p>
        </div>
      </div>
    </section>
  </mat-card-title>
</mat-card>
