.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.subtitleP {
  font-size: 22px;
}

.h4Iter {
  visibility: visible;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
}

@media only screen and(max-width: 768px) {
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
}

@media only screen and(max-width: 760px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
}

@media only screen and(max-width: 600px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
}

@media only screen and(max-width: 580px) {
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
}

@media only screen and(max-width: 420px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
}

@media only screen and(max-width: 411px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
}

@media only screen and(max-width: 380px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
}

@media only screen and(max-width: 360px) {
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 240px;
  }
}

@media only screen and(max-width: 320px) {
  .subtitleP {
    font-size: 14px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
}
