.expandContent {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.backArrow {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 0;
}

.subtitleP {
  font-size: 22px;
}
