.main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
//position: relative;
}
.options {
  width: 80%;
  position: absolute;
  bottom: -50px;
//background-color: white;
}
.options2 {
  width: 60%;
  position: absolute;
  bottom: 0;
  background-color: white;
}
.example-card {
  width: 60%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
.example-section {
  padding-bottom: 30px;
  background: none;
}
