<mat-list>
<div class="ocultar">
  <!-- MIS POLIZAS -->
  <mat-list-item routerLink="{{routes.POLIZAS}}" routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
    Ver pólizas
  </mat-list-item>

  <!-- MIS SOLICITUDES -->
  <mat-list-item routerLink="{{routes.SOLICITUDES}}" routerLinkActive="active">
    <mat-icon> list_alt</mat-icon>
    Mis solicitudes
  </mat-list-item>

  <!-- MIS DATOS -->
  <mat-list-item routerLink="{{routes.DATOS_PERSONALES}}" routerLinkActive="active">
    <mat-icon>folder_shared</mat-icon>
    Mis datos
  </mat-list-item>

  <!-- IDENTIFICACION OFICIAL -->
  <mat-list-item routerLink="{{routes.IDENTIFICACION_OFICIAL}}" routerLinkActive="active">
    <mat-icon>account_box</mat-icon>
    Identificacion Oficial
  </mat-list-item>

  <!-- INSPECCION VEHICULAR -->
  <mat-list-item routerLink="{{routes.INSPECCION_VEHICULAR}}" routerLinkActive="active">
    <mat-icon>car_repair</mat-icon>
    Inspección Vehicular
  </mat-list-item>

  <!-- EN CASO DE SINIESTRO -->
  <mat-list-item routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active">
    <mat-icon>error</mat-icon>
    En Caso de Siniestro
  </mat-list-item>
</div>
  <!-- lISTA TIPO ACORDION -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>headset_mic</mat-icon>Atención a clientes
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- INSTRUCCIONES DE PAGO -->
      <mat-list-item routerLink="{{routes.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active">
        <mat-icon> comment</mat-icon>
        Instrucciones de Pago
      </mat-list-item>

      <!-- CATALOGO DE FACTURACION -->
      <mat-list-item routerLink="{{routes.CATALOGO_DE_FACTURACION}}" routerLinkActive="active">
        <mat-icon>chrome_reader_mode</mat-icon>
        Catálogo de Facturación
      </mat-list-item>

      <!-- ACLARACION Y SUGERENCIAS -->
      <mat-list-item routerLink="{{routes.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active">
        <mat-icon> live_help</mat-icon>
        Aclaración y Sugerencias
      </mat-list-item>

      <!-- CANCELAR UNA POLIZA -->
      <mat-list-item routerLink="{{routes.CANCELAR_UNA_POLIZA}}" routerLinkActive="active">
        <mat-icon>assignment_late</mat-icon>
        Cancelar una Poliza
      </mat-list-item>

      <!-- CONDICIONES GENERALES -->
      <mat-list-item routerLink="{{routes.CONDICIONES_GENERALES}}" routerLinkActive="active">
        <mat-icon>view_module</mat-icon>
        Condiciones Generales
      </mat-list-item>
      <!-- MODIFICAR POLIZA EXISTENTE -->
      <mat-list-item routerLink="{{routes.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active">
        <mat-icon>edit</mat-icon>
        Modificar poliza
      </mat-list-item>
      <!-- CAMBIO DE CONTRASEÑA / AJUSTES -->
      <mat-list-item routerLink="{{routes.AJUSTES}}" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Ajustes
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>




  <!--  -->
  <!--  -->
  <!--  <mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active">-->
  <!--    <mat-icon>text_fields</mat-icon> Typography-->
  <!--  </mat-list-item>-->
  <!--  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">-->
  <!--    <mat-icon>border_all</mat-icon> Tables-->
  <!--  </mat-list-item>-->
  <!--  <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">-->
  <!--    <mat-icon>notifications_none</mat-icon> Notification-->
  <!--  </mat-list-item>-->
  <!--  <mat-list-item (click)="openUiElements()">-->
  <!--    <mat-icon>filter_none</mat-icon> UI Elements-->
  <!--  </mat-list-item>-->
  <!--    <div>-->
  <!--      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_ICONS}}" routerLinkActive="active">-->
  <!--        <div class="circle"></div>Icons-->
  <!--      </mat-list-item>-->
  <!--      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_CHARTS}}" routerLinkActive="active">-->
  <!--        <div class="circle"></div>Charts-->
  <!--      </mat-list-item>-->
  <!--      <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_MAP}}" routerLinkActive="active">-->
  <!--        <div class="circle"></div>Map-->
  <!--      </mat-list-item>-->
  <!--    </div>-->
  <!--</mat-list>-->

  <!--<p class="sidebar-title">Help</p>-->

  <!--<mat-list>-->
  <!--  <mat-list-item>-->
  <!--    <mat-icon>library_books</mat-icon> Library-->
  <!--  </mat-list-item>-->
  <!--  <mat-list-item>-->
  <!--    <mat-icon>question_answer</mat-icon> Support-->
  <!--  </mat-list-item>-->
  <!--  <mat-list-item>-->
  <!--    <mat-icon>help_outline</mat-icon> FAQ-->
  <!--  </mat-list-item>-->
  <!--</mat-list>-->

  <!--<p class="sidebar-title">Projects</p>-->

  <!--<mat-list>-->
  <!--  <mat-list-item> <div class="project-circle project-circle_yellow"></div> My resend </mat-list-item>-->
  <!--  <mat-list-item> <div class="project-circle project-circle_blue"></div> Starred</mat-list-item>-->
  <!--  <mat-list-item> <div class="project-circle project-circle_pink"></div> Background </mat-list-item>-->
  <!--</mat-list>-->
