.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
  font-size: 28px;
}

.safesLogos {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  display: inline-block;
}
.safesCards {
  width: 90%;
  margin: 0 3% 10px;
  min-height: 120px;
  height: auto;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}
.imgAseguradoraInstruccionesDePago {
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all linear 0.2s;
  opacity: 1;
}
.imgAseguradoraInstruccionesDePago:hover {
  opacity: 0.5;
}
.waves-wrapper {
  width: 100%;
  height: 100px;
}
.header2 {
  position:relative;
  text-align:center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(9, 204, 143) 40%, rgb(174, 243, 191) 60%, rgba(255,255,255,1) 100%);
  color:white;
}
.icons-wrapper{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer
}
figure{
  display: block;
  align-items: center;
  margin: 0;
  height: 50%;
  width: 100%;
}
figcaption{
  font-size: 14px;
}
.cgtype-icon{
}
.waves {
  position:relative;
  height: 100px;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
::-webkit-scrollbar{
  width: 5px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {
  .support-requests__header{
    padding: 8px;
  }
  .h4Iter{
    margin-top: 14px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 22px;
    margin-top: 10px;
  }
  .cgtype-icon{
    height: 50px;
  }
}
@media only screen and(max-width: 768px) {
  .support-requests__header{
    padding: 8px;
  }
  .h4Iter{
    margin-top: 14px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 20px;
    margin-top: 10px;
  }
  .cgtype-icon{
    height: 45px;
  }
}
@media only screen and(max-width: 600px) {
  .imgAseguradoraInstruccionesDePago {
    width: 140px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .h4Iter{
    margin-top: 14px;
    font-size: 24px;
  }
}
@media only screen and(max-width: 580px) {
  .waves-wrapper {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 120px;
    height: 40px;
  }
}
@media only screen and(max-width: 540px) {
  .support-requests__header{
    padding: 5px;
  }
  .waves-wrapper {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .h4Iter{
    margin-top: 14px;
  }
}
@media only screen and(max-width: 414px) {
  .support-requests__header{
    padding: 0;
  }
  .h4Iter{
    margin-top: 24px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 9px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 411px) {
  .imgAseguradoraInstruccionesDePago {
    width: 57px;
    height: 30px;
  }
  .support-requests__header {
    padding: 0;
    margin: 0;
  }
  .h4Iter{
    margin: 24px 0 16px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 9px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 375px)  {
  ::-webkit-scrollbar{
    width: 4px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 9px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 360px) {
  .h4Iter{
    margin: 22px 0 0 0;
  }
}
@media only screen and(max-width: 320px) {
  .h4Iter {
    font-size: 20px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 7px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 280px){
  .h4Iter{
    font-size: 20px;
  }
}

//////////////////////////////////////////////RESPONSIVE HEIGTH/////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 88vh;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 85vh;
  }
}
@media only screen and(max-height: 830px){
  .expandContent{
    height: 82vh;
  }
}
@media only screen and(max-height: 768px){
  .expandContent{
    height: 80vh;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 78vh;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 75vh;
  }
}
@media only screen and(max-height: 414px) {
  .expandContent {
    height: 67vh;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 63vh;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 58vh;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 55vh;
  }
}
