<app-layout>
  <!--  -----------------------   -->
  <mat-card class="support-requests">
    <div class="backArrow">
      <a routerLink="/polizas">
        REGRESAR
      </a>
    </div>

    <mat-card-content class="support-requests__content">
      <!----------------------------->
      <div class="container" *ngIf="!loaderCondition">
        <div class="box">
          <div class="skeleton">
            <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
            <div class="skeleton-right flex2">
              <div class="line h17 w40 m10"></div>
              <div class="line"></div>
              <div class="line h8 w50"></div>
              <div class="line  w75"></div>
            </div>
          </div>
          <div class="skeleton">
            <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
            <div class="skeleton-right flex2">
              <div class="line h17 w40 m10"></div>
              <div class="line"></div>
              <div class="line h8 w50"></div>
              <div class="line  w75"></div>
            </div>
          </div>
          <div class="skeleton">
            <div class="skeleton-left flex1">
              <div class="square circle"></div>
            </div>
            <div class="skeleton-right flex2">
              <div class="line h17 w40 m10"></div>
              <div class="line"></div>
              <div class="line h8 w50"></div>
              <div class="line  w75"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="main" *ngIf="loaderCondition">
        <mat-card class="example-card">
          <mat-card-header class="image-pdf-header">
            <mat-card-title></mat-card-title>
          </mat-card-header>

          <div class="dataItems">
            <mat-card-content>
              <div class="body-card" *ngIf="datoCliente">
                <br>
                <div class="title-4">DATOS DE PRODUCTO</div>
                <br>
                <div class="body-text">
                  <p class="p-title">TIPO</p>
                  <p class="p-text">{{poliza.tipoSubRamo}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">MODELO</p>
                  <p class="p-text">{{poliza.datos.modelo}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">MARCA</p>
                  <p class="p-text">{{poliza.datos.marca}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">NÚMERO DE MOTOR</p>
                  <p class="p-text">{{poliza.datos.numeroMotor}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">NÚMERO DE PLACAS</p>
                  <p class="p-text">{{poliza.datos.numeroPlacas}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">DESCRIPCIÓN</p>
                  <p class="p-text">{{poliza.datos.descripcion}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                </div>
                <br>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="body-card">
                <br>
                <div class="title-4">REGISTRO DE PÓLIZA</div>
                <br>
                <div class="body-text">
                  <p class="p-title">NÚMERO DE PÓLIZA</p>
                  <p class="p-text">{{poliza.poliza}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">PRIMA NETA</p>
                  <p class="p-text">{{poliza.primaNeta}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">FECHA DE REGISTRO</p>
                  <p class="p-text">{{poliza.fechaRegistro | date: 'dd/MM/yyyy'}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">FECHA DE INICIO</p>
                  <p class="p-text">{{poliza.fechaInicio | date: 'dd/MM/yyyy'}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">TIPO DE PAGO</p>
                  <p class="p-text">{{poliza.tipoPago}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                  <p class="p-title">CANTIDAD DE PAGOS</p>
                  <p class="p-text">{{poliza.cantidadPagos}}</p>
                  <p style="width: 70%; height: 1px; background: #c8d2c7">
                </div>
                <br>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </div>

      <!----------------------------->
    </mat-card-content>
  </mat-card>
  <!--  -----------------------   -->

  <app-footer></app-footer>
</app-layout>
