.container {
  height: auto;
  width: 100%;
  display: inline-flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.box{
  width: 100%;
  padding: 0 15px;
}
.skeleton {
  padding:15px;
  width: 94%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.skeleton .square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 1s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom:6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 1s infinite ease-out;
}
.skeleton-right{
  flex:1;
}
.skeleton-left{
  flex:2;
  padding-right:15px;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.skeleton .line:last-child{
  margin-bottom: 0;
}
.h8{
  height: 8px;
}
.h10{
  height: 10px;
}
.h12{
  height: 12px;
}
.h15{
  height: 15px;
}
.h17{
  height: 17px;
}
.h20{
  height: 20px;
}
.h25{
  height: 25px;
}
.w25{
  width: 25%;
}
.w40{
  width:40%;
}
.w50{
  width: 50%
}
.w75{
  width: 75%;
}
.m10{
  margin-bottom: 10px;
}
.circle{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}.container {
   height: auto;
   width: 100%;
   display: inline-flex;
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
 }
.box{
  width: 100%;
  padding: 0 15px;
}
.skeleton {
  padding:15px;
  width: 94%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.skeleton .square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 1s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom:6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 1s infinite ease-out;
}
.skeleton-right{
  flex:1;
}
.skeleton-left{
  flex:2;
  padding-right:15px;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.skeleton .line:last-child{
  margin-bottom: 0;
}
.h8{
  height: 8px;
}
.h10{
  height: 10px;
}
.h12{
  height: 12px;
}
.h15{
  height: 15px;
}
.h17{
  height: 17px;
}
.h20{
  height: 20px;
}
.h25{
  height: 25px;
}
.w25{
  width: 25%;
}
.w40{
  width:40%;
}
.w50{
  width: 50%
}
.w75{
  width: 75%;
}
.m10{
  margin-bottom: 10px;
}
.circle{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  //height: 100%;
}
.body-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.example-card {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}
.image-pdf {
  width: 100%;
}.image-pdf-1 {
   width: 98%;
 }
.title-producto {
  color: #484749;
  font-size: 30px;
  font-weight: bold;
}
.th {
  width: 30px;
}
.body-text {
  width: 100%;
  text-align: left;
  margin-left: 30%;
}
.p-title {
  font-size: 17px;
  font-weight: bold;
  color: #383838;
}
.p-text {
  font-size: 17px;
  color: #484749;
  font-weight: normal;
}

.image-pdf-header {
  width: 100%;
  height: 50px;
  display: inline-flex;
  background: #83e9b2;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.logo-img-toolbar {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.backArrow {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 0 0 20px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .title-producto {
    font-size: 25px;
  }
  .p-title {
    font-size: 25px;
  }
  .p-text {
    font-size: 25px;
  }
}
@media only screen and(max-width: 768px) {
  .title-producto {
    font-size: 23px;
  }
  .p-title {
    font-size: 23px;
  }
  .p-text {
    font-size: 23px;
  }
  .user-img {
    width: 125px;
    height: 125px;
  }
}

@media only screen and(max-width: 760px) {
  .title-producto {
    font-size: 20px;
  }
  .p-title {
    font-size: 20px;
  }
  .p-text {
    font-size: 20px;
  }
  .user-img {
    width: 110px;
    height: 110px;
  }
}

@media only screen and(max-width: 620px) {
  .title-producto {
    font-size: 18px;
  }
  .p-title {
    font-size: 18px;
  }
  .p-text {
    font-size: 18px;
  }
  .user-img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and(max-width: 580px) {
  .title-producto {
    font-size: 16px;
  }
  .p-title {
    font-size: 16px;
  }
  .p-text {
    font-size: 16px;
  }
  .user-img {
    width: 90px;
    height: 90px;
  }
}

@media only screen and(max-width: 420px) {
  .title-producto {
    font-size: 14px;
  }
  .p-title {
    font-size: 14px;
  }
  .p-text {
    font-size: 14px;
  }
  .user-img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and(max-width: 360px) {
  .title-producto {
    font-size: 12px;
  }
  .p-title {
    font-size: 12px;
  }
  .p-text {
    font-size: 12px;
  }
  .user-img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and(max-width: 320px) {
  .title-producto {
    font-size: 12px;
  }
  .p-title {
    font-size: 12px;
  }
  .p-text {
    font-size: 12px;
  }
  .user-img {
    width: 70px;
    height: 70px;
  }
}
