<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Aclaración y Sugerencias</h4>
      <div class="expandElements">
        <p class="subtitleP">Si necesita alguna aclaración o tiene sugerencias con relación a su póliza llame al:
          <a style="color: #6E6E6E;font-weight: bold;" href="tel: 5588902464">55 8890 2464</a> opción 7
          <!--          ó platique con nosotros,-->
        </p>
        <p class="subtitleP">
          le pedimos por favor tener a la mano el número de su póliza
        </p>
      </div>
      <div>
        <div class="drawToInfo-imgsConfig imgUrl1">
        </div>
      </div>
    </section>
  </mat-card-title>
</mat-card>
