.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.subtitleP {
  font-size: 22px;
}

.h4Iter {
  visibility: visible;
}

.drawToInfo-imgsConfig {
  width: 435px;
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -27%;
  margin-left: 36%;
}
.imgUrl1 {
  background-image: url("~src/assets/img/aclaracion.svg");
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .drawToInfo-imgsConfig {
    width: 650px;
    height: 423px;
    margin-top: -61%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 768px) {
  .drawToInfo-imgsConfig {
    width: 470px;
    height: 350px;
    margin-top: -61%;
    margin-left: 15%;
  }
  .subtitleP {
    font-size: 22px;
  }
}

@media only screen and(max-width: 760px) {
  .drawToInfo-imgsConfig {
    width: 220px;
    height: 246px;
    margin-top: -27%;
    margin-left: 36%;
  }
  .subtitleP {
    font-size: 18px;
  }
}

@media only screen and(max-width: 620px) {
  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
    margin-top: -27%;
    margin-left: 36%;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
}

@media only screen and(max-width: 580px) {
  .drawToInfo-imgsConfig {
    width: 330px;
    height: 215px;
    margin-top: -65%;
    margin-left: 12%;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
}

@media only screen and(max-width: 420px) {
  .drawToInfo-imgsConfig {
    width: 276px;
    height: 178px;
    margin-top: -90%;
    margin-left: 8%;
  }
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
}

@media only screen and(max-width: 411px) {
  .drawToInfo-imgsConfig {
    width: 284px;
    height: 183px;
    margin-top: -88%;
    margin-left: 7%;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
}

@media only screen and(max-width: 380px) {
  .drawToInfo-imgsConfig {
    width: 247px;
    height: 159px;
    margin-top: -92%;
    margin-left: 7%;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
}

@media only screen and(max-width: 360px) {
  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
    margin-top: -90%;
    margin-left: 13%;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .expandElements {
    overflow-x: auto;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
  .expandContent {
    overflow-y: hidden;
  }
}

@media only screen and(max-width: 320px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 150px;
    margin-top: -96%;
    margin-left: 8%;
  }
  .subtitleP {
    font-size: 14px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .expandContent {
    overflow-y: hidden;
  }
}
@media only screen and(max-width: 280px) {
  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
    margin-top: -120%;
    margin-left: 2%;
  }
}

