<header>
  <img src="assets/ahorra.svg" alt="" class="logo">
</header>
<section class="container">
  <mat-card>
    <p class="h4">Actualizar Contraseña</p>
    <div class="setter">
      <form class="formPassword" [formGroup]="formGroup">
        <!--  Contraseña 1  -->
        <mat-form-field appearance="legacy">
          <mat-label>Nueva Contraseña</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordField.errors && passwordField.touched">
              <span *ngIf="passwordField.hasError('required') && !passwordField.hasError('pattern')">La contraseña es
                obligatoria</span>
            <span *ngIf="passwordField.hasError('pattern')">Contraseña Invalida</span>
          </mat-error>
        </mat-form-field>
        <!--  VALIDAR CONTRASEÑA-->
        <mat-form-field appearance="legacy">
          <mat-label>Confirmar Contraseña</mat-label>
          <input formControlName="confirmPassword" matInput [type]="hide2 ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPasswordField.errors && confirmPasswordField.touched">
              <span *ngIf="confirmPasswordField.hasError('required') && !confirmPasswordField.hasError('pattern')">La contraseña es
                obligatoria</span>
            <span *ngIf="confirmPasswordField.hasError('pattern')">Contraseña Invalida</span>
          </mat-error>
        </mat-form-field>

        <button class="sendData" mat-raised-button (click)="throwErrorsPassword()" [disabled]="formGroup.invalid">
          Actualizar Contraseña
        </button>
      </form>
    </div>
  </mat-card>

  <img src="assets/img/desktop-forgot-password-banner.svg" alt="" class="desktopBanner">
  <img src="assets/img/mobile-forgot-password-banner.svg" alt="" class="mobileBanner">
</section>
