/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "src/app/styles/colors";
@import "src/app/styles/variables";
@import "src/app/styles/font";
// Plus imports for other components in your app.

//------------------------estilos temporales-------LOGIN--------
@font-face {
  font-family: "Avenir Black";
  src: url("assets/fonts/Avenir Black.ttf");
}
$font-name: "Avenir Black";
html,
body {
  height: 100%;
  margin: 0;
}
.title-3 {
  font-size: 30px;
  color: gray;
}
.title-4 {
  font-family: $font-name !important;
  color: gray;
  font-size: 20px;
}
#header {
  height: 50px;
  background-color: #aef3bf;
  color: #ffffff;
  font-size: 30px;
}
#footer {
  margin-top: 0;
  height: 60px;
  position: relative;
  background-color: #aef3bf;
  color: #ffffff;
  font-size: 30px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
#button-blue {
  background-color: #09cc8f;
}
mat-label {
  color: gray;
}

//------------------fin estilos temporales
button.mat-menu-item {
  font-size: 16px;
}

button.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  font-size: 16px;
}

mat-select.mat-select {
  width: auto;
  display: inline;
  font-size: 16px;
  font-weight: 300;
  color: $dark-grey;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 8px 10px;

  & .mat-select-value {
    width: auto;
    display: inline;
  }

  & .mat-select-arrow {
    color: $light-grey;
    margin-right: 0;
  }
}

.mat-option {
  font-size: 16px;
  height: 36px;
  padding: 6px 16px;
  color: $dark-grey;

  &.mat-focus-indicator.mat-selected.mat-active {
    background-color: $blue-white;
    color: $dark-grey;
  }

  &:hover:not(.mat-option-disabled) {
    background-color: $blue-white;
  }
}

.mat-form-field-underline {
  display: none;
}

html,
body {
  height: 100%;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-weight: 400;
  font-size: 48px;
}

.mat-h2,
.mat-headline,
.mat-typography h2 {
  font-weight: 400;
  font-size: 36px;
}

.mat-h3,
.mat-headline,
.mat-typography h3 {
  font-weight: 400;
  font-size: 26px;
}

.mat-h4,
.mat-headline,
.mat-typography h4 {
  font-weight: 400;
  font-size: 24px;
}

.mat-h5,
.mat-headline,
.mat-typography h5 {
  font-weight: 400;
  font-size: 21px;
}

.mat-h6,
.mat-headline,
.mat-typography h6 {
  font-weight: 400;
  font-size: 18px;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
  margin-bottom: 16px;
  line-height: normal;
}

button.mat-fab .mat-button-wrapper {
  padding: 0;
}

.mat-card {
  color: $card-font-color;
  margin: 16px;
}

.mat-card-title p {
  font-size: 21px;
  font-weight: 400;
  color: $card-title-font-color;
}

mat-toolbar.page-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
  background: none;
  height: auto;

  @media (max-width: $small) {
    flex-direction: column;
    align-items: baseline;
  }
}

.mat-toolbar h1 {
  font-weight: 400;
  font-size: 38.4px;
  color: $toolbar-title-font-color;
  line-height: 1;
  letter-spacing: -0.2186px;

  @media (max-width: $small) {
    white-space: normal;
  }
}

.mat-toolbar button {
  height: 41.6px;
  width: auto;
  line-height: 1.75;
  font-size: 0.9375rem;
  font-weight: 400;

  @media (max-width: $small) {
    margin-top: 16px;
  }
}

mat-tab-header .mat-tab-label,
.mat-tab-link {
  text-transform: uppercase;
  color: $tabs-header-font-color;
  font-weight: $fw-normal;
  width: 50%;
  min-width: 0;
  padding: 0;
  opacity: 1;
}

.mat-icon {
  padding-right: 3px;
  padding-bottom: 5px;
}

.material-icons {
  font-size: 28px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}
::-webkit-scrollbar-track-piece {
  background-color: $scrollbar-track-piece-color;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $light-grey;
  border-radius: 36px;
}
::-webkit-scrollbar-corner {
  background-color: $scrollbar-corner-color;
}
::-webkit-resizer {
  background-color: $dark-grey;
}

.mat-drawer-inner-container {
  background-image: repeating-linear-gradient(245deg, #aef3bf, #09cc8f 777px);
}
.mat-expansion-panel-header {
  background-image: repeating-linear-gradient(245deg, #aef3bf, #09cc8f 777px);
}
.mat-expansion-panel-content {
  background-image: repeating-linear-gradient(245deg, #aef3bf, #09cc8f 777px);
}
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-image: repeating-linear-gradient(245deg, #aef3bf, #09cc8f 777px) !important;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
  background-image: repeating-linear-gradient(245deg, #aef3bf, #09cc8f 777px) !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #aef3bf !important;
}

.mat-dialog-container {
  width: 100% !important;
  height: auto !important;
}

@media only screen and(max-height: 1024px) {
  .mat-dialog-container {
    width: 100% !important;
    height: auto !important;
  }
}
@media only screen and(max-height: 823px) {
  .mat-dialog-container {
    height: auto !important;
    width: 100%;
  }
}
@media only screen and(min-width: 1025px) {
  .mat-dialog-container {
    width: 100% !important;
    height: auto !important;
  }
}
