<main>
  <div class="globalContainer">

    <!--    FORMUARIO-->
    <div class="form inline-center-elements">

      <mat-card class="formCard">
        <div class="title-login inline-center-elements">
          <mat-card-header class="title-3" style="font-weight: bold">
            Inicio de sesión
          </mat-card-header>
        </div>
        <form [formGroup]="loginForm">
          <div>
            <mat-form-field appearance="legacy" class="title-4">
              <mat-label>Ingresa tu usuario</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-error class="error" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].dirty">
              Se requiere llenar el campo correctamente
            </mat-error>
          </div>

          <div>
            <mat-form-field appearance="legacy" class="title-4">
              <mat-label>Ingresa tu contraseña</mat-label>
              <input matInput formControlName="contrasenaApp" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-error class="error"
              *ngIf="!loginForm.controls['contrasenaApp'].valid && loginForm.controls['contrasenaApp'].dirty">
              Se requiere llenar el campo correctamente
            </mat-error>
          </div>

          <p class="forgot" (click)="forgotPasswordRedirect()">Olvide mi contraseña</p>
          <p class="mailSend" *ngIf="validate">La información para recuperación ha sido enviada a tu correo electrónico
          </p>

          <div class="actions">
            <button id="button-blue" mat-raised-button color="primary" class="button-submit title-4"
              (click)="iniciarSesion()">Ingresar
            </button>
            <mat-error>
              {{result}}
            </mat-error>
          </div>
        </form>
      </mat-card>
    </div>

    <!--    IMAGEN A MOSTRAR SEGUN EL ESTADO DEL LOGIN-->
    <div class="banner inline-center-elements">
      <div class="drawLogin"></div>
    </div>
  </div>
</main>