main {
  width: 100%;
  height: 90%;
}

.globalContainer {
  width: 100%;
  display: inline-flex;
  height: 500px;
  padding: 50px 0;
}

.inline-center-elements {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 80vh;
}

.banner {
  width: 100%;
  height: 80vh;
}

.formCard {
  width: 400px;
  height: 70vh;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

mat-form-field {
  width: 100%;
}

.drawLogin {
  background-image: url("~src/assets/img/unlokAccount.svg");
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.forgot {
  color: #0b5394;
  text-decoration: underline #3cd4a0;
  font-weight: 600;
  cursor: pointer;
}

.mailSend {
  color: #0b5394;
  font-weight: 600;
}

.title-login {
  width: 100%;
  height: auto;
}

.mat-input-element {
  background: #cad9e678;
  border-radius: 10px;
  height: 43px;
  font-weight: normal;
}

@media only screen and(max-width: 1024px) {
  .formCard {
    height: 50vh;
  }
  .drawLogin {
    background-image: url("~src/assets/img/unlokAccount.svg");
    width: 480px;
    height: 500px;
  }
  .title-3 {
    padding-right: 40px;
  }
}

@media only screen and(max-width: 768px) {
  .banner {
    display: none;
  }
  .formCard {
    width: 420px;
    height: 60vh;
  }
}

@media only screen and(max-width: 760px) {
  .actions {
    margin-top: 40px;
  }
}

@media only screen and(max-width: 620px) {
  .globalContainer {
    padding: 30px 0;
  }
  .actions {
    margin-top: 80px;
  }
}

@media only screen and(max-width: 420px) {
  .formCard {
    height: 50vh;
  }
}

@media only screen and(max-width: 411px) {
  .actions {
    margin-top: 70px;
  }
}

@media only screen and(max-width: 380px) {
  .actions {
    margin-top: 54px;
  }
}

@media only screen and(max-width: 320px) {
  .title-3 {
    font-size: 26px;
  }
  .actions {
    margin-top: 1px;
  }
}
@media only screen and(max-width: 280px) {
  .title-3 {
    font-size: 20px;
  }
  .actions {
    margin-top: 54px;
  }
}
