.pdf-wrapper{
  width: 96%;
  height: 73vh;
  margin-top: 20px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.general-wrapper{
  display: flex;
  justify-content: center;
}
.indicator-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 80%;
}
.indicator{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #ff6161;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.text{
  color: black;
  margin: 32px 0 32px 0;
  font-size: 24px;
  text-align: center;
}
.indicator-symbol{
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}
mat-dialog-actions {
  margin-right: 32px;
  height: 5%;
  margin-top: 0;
  padding: 0;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  height: 85%;
  font-size: 22px;
}

/////////RESPONSIVE////////////////////////
@media only screen and(max-width: 1024px) {
  .pdf-wrapper{
    height: 80vh;
  }
  .indicator-wrapper{
    height: 90%;
  }
  .indicator{
    width: 200px;
    height: 200px;
  }
  .text{
    margin: 70px 0 70px 0;
    font-size: 40px;
  }
  .indicator-symbol{
    font-size: 100px;
  }
}
@media only screen and(max-width: 768px) {
  .pdf-wrapper{
    height: 71vh;
  }
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    height: 80%;
    font-size: 18px;
  }
  mat-dialog-actions {
    margin-right: 30px;
    margin-top: 9px;
  }
  .indicator{
    width: 200px;
    height: 200px;
  }
  .indicator-symbol{
    font-size: 100px;
  }
  .text{
    margin: 70px 0 70px 0;
    font-size: 32px;
  }
}

@media only screen and(max-width: 667px) {
  .pdf-wrapper{
    height: 69vh;
  }
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    height: 60%;
    font-size: 12px;
  }
  mat-dialog-actions {
    margin-right: 18px;
    margin-top: 7px;
  }
  .indicator{
    width: 120px;
    height: 120px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 20px;
  }
  .indicator-symbol{
    font-size: 60px;
  }
}
@media only screen and(max-width: 414px) {
  .indicator{
    width: 100px;
    height: 100px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 18px;
  }
  .indicator-symbol{
    font-size: 50px;
  }
}
@media only screen and(max-width: 375px) {
  .pdf-wrapper{
    height: 67vh;
  }
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    height: 56%;
    font-size: 10px;
    min-width: 40px;
    padding: 0 10px;
    line-height: 30px;
  }
  mat-dialog-actions {
    margin-right: 18px;
    margin-top: 7px;
  }
  .indicator{
    width: 80px;
    height: 80px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 15px;
  }
  .indicator-symbol{
    font-size: 40px;
  }
}
@media only screen and(max-width: 280px) {
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    height: 46%;
    font-size: 10px;
    min-width: 40px;
    padding: 0 7px;
    line-height: 23px;
  }
  mat-dialog-actions {
    margin-right: 18px;
    margin-top: 7px;
  }
  .indicator{
    width: 80px;
    height: 80px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 12px;
  }
  .indicator-symbol{
    font-size: 40px;
  }
}
