$small-break: 620px;
$loader-gradient: (rgba(255, 255, 255, 0.0) 30%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0) 80%);

.polizas-container {
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
  justify-content: center;
}

mat-card-header {
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  background-color: #09CC8F;
  color: #fff;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.helpModalBTN {
  cursor: pointer;
  transition: color ease 0.4s;
  visibility: hidden;
}

.helpModalBTN:hover {
  color: #b3b3b3;
}

.logo-ahorraHeader-Card {
  width: 150px;
  height: 30px;
}

.poliza-card {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  background-color: #fffcfc;
  box-shadow: 0 9px 15px 0 rgba(0,0,0,0.75);
  overflow: hidden;
  display: block;
}

.inlineFlexItems {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.aseguradora-container-image {
  width: 20%;
  height: 50px;
  display: flex;
  margin: 0 0 0 1%;
  justify-content: center;
  align-items: center;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
}

.dataNameContainer {
  width: 100%;
  margin: 0 0 0 20px;
}

.dataResultContainer {
  width: 100%;
  margin: 0;
  color: #1c3262;
}

.actionsContainer {
  width: 280px;
  margin: 0;
}

.nombre-comercial-image {
  width: 120px;
  height: 60px;
  overflow: hidden;
}

.load {
  width: 100%;
  display: inline-block;
}

.text {
  font-size:18px;
  font-weight:bold;
  color: #e32752;
  text-transform:uppercase;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.actionsDescriptionSpan {
  visibility: visible;
}

.groupDataContainer {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
}

.groupDataBox {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 1%;
  overflow: hidden;
}

@keyframes shimmer {
  0% { left: -50% }
  100% { left: 150% }
}

.animated-background {
  -webkit-animation: shimmer 0.8s infinite ease-out; /* Safari 4+ */
  -moz-animation:    shimmer 0.8s infinite ease-out; /* Fx 5+ */
  -o-animation:      shimmer 0.8s infinite ease-out; /* Opera 12+ */
  animation:         shimmer 0.8s infinite ease-out;
  background: -moz-linear-gradient(to right, $loader-gradient); /* FF3.6-15 */
  background: -webkit-linear-gradient(to right, $loader-gradient); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $loader-gradient); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.05);
  border-radius: 16px;
  padding: 1rem;
  width: 90%;
  max-width: 1330px;
  margin: 1rem auto;
}

.loading {
  background-color: #dddddd;
}

.image {
  height: 9rem;
  width: 14rem;
  padding: 1.5em;

  @media (max-width: $small-break) {
    margin: 0 auto;
  }
}

.title {
  height: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  @media (max-width: $small-break) {
    display: block;
  }
}

.grid-right {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.grid-left {
  margin-right: 1rem;
}

.item {
  height: 0.75rem;
  width: 100%;
  border-radius: 10px;

  @media (max-width: $small-break) {
    margin-top: 1em;
  }
}

.seller {
  width: 100%;
  height: 2rem;
  margin: 1rem auto 0 auto;
}

.buttonsActionsContainer {
  color: #ffffff;
  height: 30px;
  width: auto;
  cursor:pointer;
  display: inline-flex;
  align-items: center;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1366px) {
  .actionsDescriptionSpan {
    visibility: visible;
  }
  .actionsContainer {
    width: 280px;
  }
  .helpModalBTN {
    visibility: hidden;
  }

  .groupDataContainer {
    display: inline-flex;
  }
}

@media only screen and(max-width: 1024px) {
  .actionsDescriptionSpan {
    visibility: visible;
  }
  .actionsContainer {
    width: 280px;
  }
  .helpModalBTN {
    visibility: hidden;
  }
  .groupDataContainer {
    display: inline-flex;
  }
}

@media only screen and(max-width: 768px) {
  .actionsDescriptionSpan {
    visibility: visible;
  }
  .actionsContainer {
    width: 280px;
  }
  .helpModalBTN {
    visibility: hidden;
  }
  .groupDataContainer {
    display: inline-flex;
  }
}

@media only screen and(max-width: 760px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 50px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 600px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 580px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 420px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 411px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 380px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 360px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media only screen and(max-width: 320px) {
  .actionsDescriptionSpan {
    visibility: hidden;
  }
  .actionsContainer {
    width: 60px;
  }
  .helpModalBTN {
    visibility: visible;
  }
  .groupDataContainer {
    display: inline-block;
  }
  .aseguradora-container-image {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
