@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
    height: 427px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18.4px;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.45px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
mat-menu {
  position: absolute;
}

mat-card {
  width: 96%;
  margin: 0 2%;
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
}

h4 {
  text-align: center;
}

.formPassword {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  display: grid;
}

.dangerText {
  color: #ff4081;
  font-size: 1.2rem;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: center;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-form-field{
  background: #d8ffe17a;
}
.mat-input-element {
  font: inherit;
  background: white;
  border: inset;
  padding: 0;
  margin: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  width: 1em;
  margin-left: 9px;
}
///////////////////////////////////////////////////////////
//////////  ----- RESPONSIVE SECTION -----  ///////////////
///////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {}

@media only screen and(max-width: 768px) {}

@media only screen and(max-width: 760px) {}

@media only screen and(max-width: 600px) {}

@media only screen and(max-width: 580px) {}

@media only screen and(max-width: 420px) {}

@media only screen and(max-width: 411px) {}

@media only screen and(max-width: 380px) {}

@media only screen and(max-width: 360px) {}

@media only screen and(max-width: 320px) {}
