.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.topButtons{
  display: flex;
  width: auto;
  align-items: center;
  color: #28c44f;
  cursor: pointer;

  p{
    width: auto;
    margin: 0;
    font-family:sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
}
.support-requests{
  min-height: calc(100vh - 170px);
}
.loadSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
}

.topCard {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  padding: 0 0 20px 0;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
.downloadButonIcon {
  font-size: 3rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 760px) {
.downloadButonIcon {
  font-size: 2.5rem;
}
}
@media only screen and(max-width: 620px) {
.downloadButonIcon {
  font-size: 2rem;
}
}
@media only screen and(max-width: 411px) {
  .downloadButonIcon {
    font-size: 2rem;
  }
}
@media only screen and(max-width: 380px) {
  .downloadButonIcon {
    font-size: 1.5rem;
  }
}

