.support-requests {
  margin: 0 24px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  height: 70vh;
}

.mainSection {
  width: 100%;
  height: 100%;
}

.topData {
  display: inline-flex;
  width: 96%;
  height: auto;
  justify-content: space-between;
  margin: 10px 2% 0;
  font-size: 20px;
  font-weight: bold;
}

.infoSection {
  width: 90%;
  height: auto;
  margin: 10px 5% 0;
}

.infoGraph {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}

.textoInformativo-container {
  height: 150px;
  width: 100%;
  background-color: transparent;
  text-align: left;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.drawToInfo-container {
  height: 150px;
  width: 100%;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.drawToInfo-imgsConfig {
  width: 254px;
  height: 186px;
  background-size: contain;
  background-repeat: no-repeat;
}

.imgUrl1 {
  background-image: url("~src/assets/img/dashboardSVG1.svg");
}

.imgUrl2 {
  background-image: url("~src/assets/img/dashboardSVG2.svg");
}
@media only screen and(max-width: 768px) {
  .drawToInfo-imgsConfig {
    width: 311px;
    height: 322px;
  }
  .infoGraph {
    margin-top: 100px;
  }
}
@media only screen and(max-width: 760px) {
  .textoInformativo-container {
    font-size: 18px;
  }
  .topData {
    font-size: 18px;
  }
  .drawToInfo-imgsConfig {
    width: 220px;
    height: 246px;
  }
  .infoGraph {
    margin-top: 80px;
  }
}
@media only screen and(max-width: 620px) {
  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
  }
  .infoGraph {
    margin-top: 70px;
  }
}
@media only screen and(max-width: 580px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }
  .drawToInfo-container:last-child {
    display: none;
  }
  .drawToInfo-imgsConfig {
    width: 180px;
    height: 157px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 420px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .textoInformativo-container {
    font-size: 16px;
    height: auto;
  }
  .topData {
    font-size: 16px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
  }
}
@media only screen and(max-width: 411px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
  }
}
@media only screen and(max-width: 380px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .textoInformativo-container {
    font-size: 14px;
    height: auto;
  }
  .topData {
    font-size: 14px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
  }
}
@media only screen and(max-width: 360px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
  }
}
@media only screen and(max-width: 320px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .textoInformativo-container {
    font-size: 12px;
    height: auto;
  }
  .topData {
    font-size: 12px;
  }
  .drawToInfo-imgsConfig {
    width: 170px;
    height: 150px;
  }
  footer {
    height: 50px;
  }
}
@media only screen and(max-width: 280px) {
  .drawToInfo-container:last-child {
    display: none;
  }
  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
  }
}
