@import '~src/app/styles/colors';
@import '~src/app/styles/font';
@import '~src/app/styles/variables';

.header {
  background-color: #aef3bf;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-button {
    background-color:  #aef3bf ;
    box-shadow: none;

    &:hover {
      background-color: #09CC8F;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 32px;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      display: none;
    }
  }
}

.header-toolbar {
  display: flex;
  align-items: center;

  .unlock-button {
    border-color: $green;
    margin-right: 16px;
    text-transform: uppercase;
    background-color: $green;
    color: white;

    letter-spacing: .0892857143em;
    @media (max-width: $small) {
      display: none;
    }
  }
}

.bannerCompara {
  background-image: url("~src/assets/compara.svg");
  width: 200px;
  height: 40px;
  margin: 0 0 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bannerCompara:hover{
  transition: .4s;
  transform: scale(1.15);
}

.topnav {
  overflow: hidden;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 52%;
  width: 95%;
  margin-left: 20px;
}

.topnav :hover {
  background-color: rgb(66 224 175 / 73%);
  transition: .5s;
}

.topnav .active {
  background-color: rgb(66 224 175 / 73%);
  color: #000000;
}
.icons-header{
  transition: 0.3s;
  position: center;
  transform: translate(0%, 20%);
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.icons-header.active{
  background-color: #00000020;
  p{
    transition: .6s;
    transform: translate(0%, -8%);
  }

  .icons-header{
    transition: .7s;
    transform: translate(0%, -20%);
    opacity: 1;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {

}
@media only screen and(max-width: 900px) {
  .topnav{
    display:none;
  }
}

@media only screen and(min-width: 280px){
  .bannerCompara {
    width: 200px;
    height: 40px;
    margin: 0 -25px 0 -10px;
  }
}
