<mat-toolbar class="header">

  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">menu</mat-icon>
    </button>
    <!-- INICIO -->
    <div class="bannerCompara" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    </div>
  </div>

  <div class="topnav" >
    <!-- MIS POLIZAS -->
    <mat-list-item routerLink="{{routes.POLIZAS}}" routerLinkActive="active">
     Pólizas
    </mat-list-item>

    <!-- MIS SOLICITUDES -->
    <mat-list-item routerLink="{{routes.SOLICITUDES}}" routerLinkActive="active">
      Solicitudes
    </mat-list-item>

    <!-- IDENTIFICACION OFICIAL -->
    <mat-list-item routerLink="{{routes.IDENTIFICACION_OFICIAL}}" routerLinkActive="active">
      ID Oficial
    </mat-list-item>

    <!-- INSPECCION VEHICULAR -->
    <mat-list-item routerLink="{{routes.INSPECCION_VEHICULAR}}" routerLinkActive="active">
      Inspección Vehicular
    </mat-list-item>

    <!-- EN CASO DE SINIESTRO -->
    <mat-list-item routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active">
      Siniestro
    </mat-list-item>
  </div>
  <div class="header-toolbar">
    <!--    <app-search></app-search>-->
    <!--    <app-notifications></app-notifications>-->
    <!--    <app-email [emails]="emails$ | async"></app-email>-->
    <app-user (signOut)="signOut()"></app-user>
  </div>

</mat-toolbar>
